/* BASE */
body {
    font-style: normal;
    font-size: 1em;
    line-height: 1em;
    font-family: "DIN-Regular", Arial, Verdana, sans-serif;    
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100%;
    width: 100%;
    background: $dark-color;
    color: $primary-color;
    animation: fadein 2s ease-in-out;
}

h1 {
  letter-spacing: -.045em;
}
h2 {
  letter-spacing: -.0375em;
}