/**** 

07 - FALCON 9 

****/

main {
  section {
    @at-root .intro_section {
      background: url("../images/mobile-backgrounds/f9_feature.jpg") no-repeat
        center center / cover;
      height: 100vh;
      width: 100%;
      padding: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      article {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin: -5em auto 0;
        h1 {
          color: $primary-color;
          font-size: 3em;
          margin-bottom: 0.375em;
          text-transform: uppercase;
          width: 100%;
        }
        h3 {
          color: $primary-color;
          font-size: 0.875em;
          line-height: 1.25em;
          padding: 0 3em;
          text-shadow: none;
          text-transform: uppercase;
        }
      }
      .scroll_arrow {
        width: 2em;
        margin: 0 auto;
        padding-bottom: 3em;
      }
    }
    @at-root .stats_section {
      background: $dark-color;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      section {
        max-width: 960px;
        width: 100%;
        height: 100%;
        padding: 4em 1em;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
        justify-items: center;
        margin: 0;
        h4 {
          color: white;
          font-size: 3em;
          padding-bottom: 0.25em;
          font-family: "DIN-Regular", Arial, Verdana, sans-serif;
        }
        p {
          font-size: 0.75em;
          padding: 0 1em;
          text-align: center;
          line-height: 1.25em;
          text-transform: uppercase;
        }
      }
    }
    @at-root .rocket_info_section {
      height: 100%;
      width: 100%;
      padding-top: 100vh;
      position: relative;
      article {
        margin: 0 auto;
        width: 100%;
        height: 100vh;
        width: calc(100% - 5em);
        position: relative;
        justify-content: center;
        p {
          z-index: 100;
          align-self: start;
        }
      }
      .line-rocket {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background-image: url("../images/mobile-backgrounds/WebsiteF9Fairings_Lines_Mobile.webp");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top center;
      }
    }
    @at-root .rocket_slider_section {
      max-width: 960px;
      margin: 0 auto;
      width: 100%;
      height: 100%;
      padding: 4em 1em;
      display: flex;
      justify-content: center;
      flex-direction: column;
      .slider_header {
        height: 100%;
        width: 100%;
        display: grid;
        grid-template-rows: 1fr;
        .slider-buttons {
          direction: rtl;
          span {
            padding: 0 0 0 1.5em;
            img {
              width: 2vw;
            }
          }
        }
        h2 {
          font-size: 2.25em;
          text-transform: uppercase;
        }
        h3 {
          font-size: 0.875em;
          text-transform: uppercase;
          font-family: "DIN-Bold", Arial, Verdana, sans-serif;
          padding-bottom: 0.25em;
        }
      }
      ul {
        margin-top: 2em;
        li {
          border-bottom: 0.1em solid $darkgrey-color;
          font-family: "DIN-Bold", Arial, Verdana, sans-serif;
          padding: 1.25em 0;
          font-size: 0.875em;
          display: flex;
          color: $primary-color;
          justify-content: space-between;
          p {
            font-size: 1em;
            font-family: "DIN-Bold", Arial, Verdana, sans-serif;
            span {
              color: $grey-color;
              font-size: 1em;
              text-transform: uppercase;
            }
          }
          span {
            color: $primary-color;
            font-size: 0.875em;
            text-transform: uppercase;
          }
        }
      }
    }
    @at-root .video_section {
      background: url("../images/mobile-backgrounds/f9_video.webp") no-repeat
        53% center / cover;
      height: 100vh;
      width: 100%;
      padding: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      overflow: hidden;
      transform: translateY(0);
      transition: transform 1.5s ease-in-out;
      position: relative;
      .play-btn {
        background-color: transparent;
        border: none;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        pointer-events: none;
        img {
          width: 7.5vw;
          cursor: pointer;
          pointer-events: visible;
        }
      }
      @at-root.video-modal {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -999;
        overflow-y: hidden;
        overflow-x: hidden;
        background-color: $dark-color;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        visibility: hidden;
        opacity: 0;
        iframe {
          transition: all 1.5s ease-in-out;
          margin-bottom: 2em;
          position: relative;
        }
        span {
          transition: all 1.75s ease-in-out;
          text-transform: uppercase;
          font-size: 0.875em;
          font-family: "DIN-Bold", Arial, Verdana, sans-serif;
        }
      }
      @at-root.modal-active {
        z-index: 999;
        transform: translateY(0);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        transition: all 1s ease-in-out;
      }
      @at-root.close-modal {
        position: absolute;
        top: 1em;
        right: 1em;
        margin: 0.5em 1em 0;
        background-color: transparent;
        border: none;
        cursor: pointer;
        &::before {
          content: "";
          background-color: $primary-color;
          display: block;
          height: 2px;
          width: 1em;
          margin: 0.15em 0;
          transform: rotate(45deg) translateX(0.25em);
          transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
        }
        &::after {
          content: "";
          background-color: $primary-color;
          display: block;
          height: 2px;
          width: 1em;
          margin: 0.15em 0;
          transform: rotate(-45deg) translateX(0.2em);
          transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
        }
      }

      article {
        margin: 4em auto;
        h3 {
          text-shadow: none;
        }
      }
    }
    @at-root .engines_section {
      height: 100%;
      width: 100%;
      margin: 0 auto 3em;
      .engine_img {
        background: url("../images/mobile-backgrounds/Merlin.webp") no-repeat
          center center / cover;
        height: 75vh;
        width: 100%;
        padding: 0;
        display: flex;
        flex-direction: column;
        article {
          margin: 2em auto 0;
          h4 {
            font-size: 0.875em;
            padding: 2em 0 2em;
            font-family: "DIN-Medium", Arial, Verdana, sans-serif;
            text-transform: uppercase;
            span {
              color: $grey-color;
            }
          }
          h3 {
            font-family: "DIN-Bold", Arial, Verdana, sans-serif;
          }
          p {
            font-size: 1em;
          }
        }
      }
      ul {
        max-width: 960px;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        li {
          border-bottom: 0.1em solid $darkgrey-color;
          font-family: "DIN-Bold", Arial, Verdana, sans-serif;
          padding: 1.25em 0;
          font-size: 0.875em;
          display: flex;
          align-items: center;
          color: $primary-color;
          justify-content: space-between;
          p {
            margin-bottom: 0;
            font-size: 1em;
            font-family: "DIN-Bold", Arial, Verdana, sans-serif;
            span {
              color: $grey-color;
              font-size: 1em;
              text-transform: uppercase;
            }
          }
          span {
            color: $primary-color;
            font-size: 0.875em;
            text-transform: uppercase;
          }
        }
      }
    }
    @at-root .gallery_section {
      height: 100%;
      width: 100%;
      .slider-buttons {
        height: 100%;
        max-width: 960px;
        width: 100%;
        padding: 0 1.5em;
        margin: 3em auto;
        display: flex;
        justify-content: center;
        align-items: center;
        p {
          order: 1;
          text-align: center;
          padding: 0 3em;
          font-size: 0.75em;
        }
      }
      article {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 8em auto;
        width: 100%;
        height: 100%;
        width: calc(100% - 3em);
        margin: 8em auto;
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        .button-container {
          display: flex;
          justify-content: center;
          flex-direction: column;
          button {
            min-width: 275px;
            padding: 1.25em 1em;
            font-size: 1em;
            &:nth-child(2) {
              margin-top: 1.25em;
            }
          }
        }
        p {
          text-align: center;
          margin: 3em 0 0.25em;
          color: $grey-color;
          a {
            color: $primary-color;
            font-family: "DIN-Regular", Arial, Verdana, sans-serif;
            text-decoration: none;
          }
        }
        .line {
          width: 2px;
          height: 18vh;
          background: $primary-color;
        }
      }
    }
  }
}

/* GSAP ScrollTrigger ANIMATION */

.rocket_change_section {
  position: relative;
  height: 100%;
  padding-top: 100vh;
  overflow-x: hidden;
}

.bg-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  &.one {
    background-image: url("../images/desktop-backgrounds/WebsiteF9Fairings_Lines_Desktop.webp");
  }
  &.two {
    background-image: url("../images/desktop-backgrounds/WebsiteF9Fairings_Render_Desktop.webp");
  }
}
.bg-text {
  display: block;
  position: relative;
  height: 75vh;
}

/* SWIPER SLIDER */
.swiper-container {
  width: 100%;
  height: 75vh;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  height: 75vh;
  width: 100%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  p {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 2em;
    text-align: center;
    background-color: $dark-color;
  }
  &:nth-child(1) {
    background-image: url("../images/slider-images/F9_1.webp");
  }
  &:nth-child(2) {
    background-image: url("../images/slider-images/F9_2.webp");
  }
  &:nth-child(3) {
    background-image: url("../images/slider-images/F9_3.webp");
  }
  &:nth-child(4) {
    background-image: url("../images/slider-images/F9_4.webp");
  }
  &:nth-child(5) {
    background-image: url("../images/slider-images/F9_5.webp");
  }
  &:nth-child(6) {
    background-image: url("../images/slider-images/F9_6.webp");
  }
  &:nth-child(7) {
    background-image: url("../images/slider-images/F9_7.webp");
  }
  &:nth-child(8) {
    background-image: url("../images/slider-images/F9_8.webp");
  }
  &:nth-child(9) {
    background-image: url("../images/slider-images/F9_9.webp");
  }
  &:nth-child(10) {
    background-image: url("../images/slider-images/F9_10.webp");
  }
}

.swiper-buttons {
  height: auto;
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: 999;
  padding: 2em;
  display: flex;
  justify-content: space-between;
  button {
    background-color: transparent;
    border: none;
    img {
      width: 1vw;
    }
  }
}
