/* FONTS */
@font-face {
    font-family: "DIN-Light";
    src: url("../fonts/DIN\ Light.woff2") format("woff2");
    font-display: swap;
  }
  
@font-face {
    font-family: "DIN-Regular";
    src: url("../fonts/DIN.woff2") format("woff2");
    font-display: swap;
}
  
@font-face {
    font-family: "DIN-Medium";
    src: url("../fonts/DIN\ Medium.woff2") format("woff2");
    font-display: swap;
}
  
@font-face {
    font-family: "DIN-Bold";
    src: url("../fonts/DIN\ Bold.woff2") format("woff2");
    font-display: swap;
}


h1 {
    font-style: normal;
    font-size: 3em;
    line-height: 1em;
    font-weight: 400;
    font-family: "DIN-Bold", Arial, Verdana, sans-serif;
}

h2 {
    font-style: normal;
    font-size: 2.5em;
    line-height: 1em;
    font-weight: 400;
    font-family: "DIN-Bold", Arial, Verdana, sans-serif;
}

h3 {
    font-style: normal;
    font-size: 1.5em;
    line-height: 1em;
    font-weight: 500;
    font-family: "DIN-Medium", Arial, Verdana, sans-serif;
}

h4 {
    font-style: normal;
    font-size: 1.25em;
    line-height: 1em;
    font-weight: 500;
    font-family: "DIN-Medium", Arial, Verdana, sans-serif;
}

p {
    font-style: normal;
    font-size: 1em;
    line-height: 1.6em;
    font-weight: 400;
    font-family: "DIN-Regular", Arial, Verdana, sans-serif;
}
a {
    font-style: normal;
    font-size: .875em;
    line-height: 1em;
    font-weight: 400;
    font-family: "DIN-Bold", Arial, Verdana, sans-serif;  
}
button {
    font-style: normal;
    font-size: 1em;
    line-height: 1em;
    font-weight: 400;
    font-family: "DIN-Bold", Arial, Verdana, sans-serif;  
}
