

/**** 

04 - HEADER/NAVIGATION 

****/


header {
    width: 100%;
    position: fixed;
    display: flex;
    padding: 2em 0;
    justify-content: center;
    align-items: center;
    background: transparent;
    z-index: 999;
    nav:nth-of-type(1) {
        width: 100%;
        width: calc(100% - 3em);
        height: 100%;
        display: flex;
        position: relative;
        ul {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            li {
                &.animated_link {
                    display: none;
                }
                @at-root #logo {
                    margin: 0;
                    img {
                        width: 150px;
                        height: 100%;
                        position: relative;
                        z-index: 1000;
                    }
                }
                a {
                    text-decoration: none;
                    text-transform: uppercase;
                    color: $primary-color;
                    font-size: .875em;
                    margin-right: 1em;
                    margin-top: .5em;
                    position: relative;
                    padding-bottom: .15em;
                }
            }
        }
    }
    nav:nth-of-type(2) {
        background: $main-bg-color;
        top: 0;
        right: 0;
        height: 100vh;
        width: 18.125em;
        display: flex;
        position: absolute;
        z-index: 100;
        transform: translate(20em, 0);
        transition: all .8s cubic-bezier(.215, .610, .355, 1);
        ul {
            opacity: 0;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-end;
            width: 100%;
            padding: 5em 1em 0 3em;
            transition: opacity .5s ease-in-out; 
            li {
                padding: .75em 0;
                border-bottom: .1em solid $darkgrey-color;
                width: 100%;
                text-align: right;
                &.mobile_link {
                    border-bottom: .1em solid $darkgrey-color;
                    width: 100%;
                    text-align: right;
                    text-decoration: none;
                    text-transform: uppercase;
                    color: $primary-color;
                }
                a {
                    position: relative;
                    padding-bottom: 0.15em;
                    text-decoration: none;
                    text-transform: uppercase;
                    color: $primary-color;
                    font-family: "DIN-Regular", Arial, Verdana, sans-serif;
                }
            }
        }
        &.open_subNav {
            transform: translate(0, 0);
            ul {
                opacity: 1;
                background: $main-bg-color;
            }
        }  
    }
    button {
        position: absolute;
        right: 0;
        margin: .5em 1em 0;
        z-index: 999;
        background-color: transparent;
        border: none;
        cursor: pointer;
        &::before {
            content: '';
            background-color: $primary-color;
            display: block;
            height: 2px;
            width: 1em;
            margin: 0 0 .15em;
            transition: all .5s cubic-bezier(0.215, 0.610, 0.355, 1);
        }
        &::after {
            content: '';
            background-color: $primary-color;
            display: block;
            height: 2px;
            width: 1em;
            margin: .15em 0;
            transition: all .5s cubic-bezier(0.215, 0.610, 0.355, 1);
        }
        div {
            background-color: $primary-color;
            display: block;
            height: 2px;
            width: 1em;
            margin: 0;
            transition: all .5s cubic-bezier(0.215, 0.610, 0.355, 1);
        }
    }
}

.open_hamMenu {
    &::before {
        background-color: $primary-color;
        content: '';
        display: block;
        transform: rotate(45deg) translateX(.18em);
        height: 2px;
        width: 1em; 
    }
    &::after {
        background-color: $primary-color;
        content: '';
        display: block;
        transform: rotate(-45deg) translateX(.19em);
        height: 2px;
        width: 1em;
    }
    div {
        display: none;
    }
}

.overlay {
    background-color: rgba(0, 0, 0, 0);
    transition: all 1s cubic-bezier(.215, .610, .355, 1);
    position: fixed;
    visibility: hidden;
    z-index: 2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    pointer-events: inherit;
    &.open_overlay {
        background-color: rgba(0, 0, 0, .75);
        visibility: visible;
    }
}

header {
    &.visible {
        background: $dark-color;
        transition: all .5s ease;
        nav:nth-of-type(1) {
            transform: translate(0, 0);
            transition: all .5s ease;
            z-index: 999;
        }
        nav:nth-of-type(2) {
            &.open_subNav {
                transform: translate(0, 0);
                transition: all .5s ease;
            }
        }
        button {
            transform: translate(0, 0);
            transition: all .5s ease;
        }
        .overlay {
            &.open_overlay {
                opacity: 1;
                transition: all .5s ease;
            }
        }
    }
    &.hidden {
        background: transparent;
        transition: all .5s ease;
        nav:nth-of-type(1) {
            transform: translate(0, -20em);
            transition: all .5s ease;
        }
        button {
            transform: translate(0, -20em);
            transition: all .5s ease;
        }
        nav:nth-of-type(2) {
            &.open_subNav {
                transform: translate(20em, 0);
                transition: all .5s ease;
            }
        }
        .overlay {
            &.open_overlay {
                opacity: 0;
                transition: all .5s ease;
            }
        }
    }
}