/* HOME */
main {
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 1;
    section {
        &.img_block {
            height: 100vh;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            &:nth-child(1){
                background: url(../images/desktop-backgrounds/docking.jpg) no-repeat center center / cover;
            }
            &:nth-child(2) {
                background: url(../images/desktop-backgrounds/home_demo2.jpg) no-repeat center center / cover;
            }
            &:nth-child(3) {
                background: url(../images/desktop-backgrounds/iss_game.jpg) no-repeat center center / cover;
            }
            &:nth-child(4) {
                background: url(../images/desktop-backgrounds/SN8.jpg) no-repeat center center / cover;
                .content {
                    justify-content: flex-start;
                }
            }
            &:nth-child(5) {
                background: url(../images/desktop-backgrounds/home_moon.jpg) no-repeat center center / cover;
                .content {
                    justify-content: center;
                    width: 50vw;
                    margin-left: auto;
                    margin-right: 0;
                }
            }
        }
        &.content {
            height: 100%;
            width: 100%;
            max-width: 1400px;
            padding: 0 2em;
            margin: 0 auto;
            margin-bottom: 7em;
            margin-top: 7em;
            display: flex;
            flex-direction: column;
            justify-content: flex-end; 
            /* CHECK JUSTIFY CONTENT
            !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
            !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
            !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
            */
            h2 {
                color: $primary-color;
                margin-bottom: .5em;
                margin-top: .375em;
                text-transform: uppercase;
                text-shadow: 0 0 7px rgba(0, 0, 0, .5);  
            }
            h3 {
                color: $primary-color;
                text-transform: uppercase;
                text-shadow: 0 0 7px rgba(0, 0, 0, .5); 
            }
            p {
                color: $primary-color;
                margin-bottom: 2em;
                width: 65ch; 
            }
            button {
                color: $primary-color;
                background: transparent;
                text-decoration: none;
                text-transform: uppercase;
                border: 2px solid #FFF;
                width: fit-content;
                width: intrinsic;           /* Safari/WebKit uses a non-standard name */
                width: -moz-max-content;    /* Firefox/Gecko */
                width: -webkit-max-content; /* Chrome */
                padding: 1.5em 3em;
                margin-top: 1em;
                position: relative;
                overflow: hidden;
                z-index: 100;
                &::before {
                    background: #fff;
                    content: '';
                    position: absolute;
                    z-index: -1;
                }
                &::after {
                    background: #fff;
                    content: '';
                    position: absolute;
                    z-index: -1;
                }
                &:hover {
                    color: #000;
                    cursor: pointer;
                }
            }
            .animated_button {
                &::after {
                    height: 100%;
                    left: 0;
                    top: 0;
                    width: 100%;
                    transform-origin: top center;
                    transform: scale3d(1, 0, 1);
                    transition: transform .6s cubic-bezier(.19, 1, .22, 1);
                }
                &:hover {
                    &::after {
                        height: 100%;
                        width: 100%;
                        transform: scale3d(1, 1, 1);
                        transform-origin: bottom center;
                    }
                }
            }
        }
    }
}
