/*********************

CONTENT: 

01 - RESET
02 - FONTS
03 - BASE
04 - HEADER/NAVIGATION
05 - FOOTER
06 - HOME
07 - FALCON 9
08 - ANIMATIONS
09 - RESPONSIVE

***********/
/**** 

01 - RESET 

****/
*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
}

body {
  overflow-x: hidden;
}

h1,
h2,
h3,
p,
a,
ul,
li {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

li {
  list-style: none;
}

/**** 

02 - FONTS 

****/
/* source display swap: https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display */
@font-face {
  font-family: "DIN-Light";
  src: url("../fonts/DIN Light.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "DIN-Regular";
  src: url("../fonts/DIN.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "DIN-Medium";
  src: url("../fonts/DIN Medium.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "DIN-Bold";
  src: url("../fonts/DIN Bold.woff2") format("woff2");
  font-display: swap;
}
h1 {
  font-style: normal;
  font-size: 3em;
  line-height: 1em;
  font-weight: 400;
  font-family: "DIN-Bold", Arial, Verdana, sans-serif;
}

h2 {
  font-style: normal;
  font-size: 2.5em;
  line-height: 1em;
  font-weight: 400;
  font-family: "DIN-Bold", Arial, Verdana, sans-serif;
}

h3 {
  font-style: normal;
  font-size: 1.5em;
  line-height: 1em;
  font-weight: 500;
  font-family: "DIN-Medium", Arial, Verdana, sans-serif;
}

h4 {
  font-style: normal;
  font-size: 1.25em;
  line-height: 1em;
  font-weight: 500;
  font-family: "DIN-Medium", Arial, Verdana, sans-serif;
}

p {
  font-style: normal;
  font-size: 1em;
  line-height: 1.6em;
  font-weight: 400;
  font-family: "DIN-Regular", Arial, Verdana, sans-serif;
}

a {
  font-style: normal;
  font-size: 0.875em;
  line-height: 1em;
  font-weight: 400;
  font-family: "DIN-Bold", Arial, Verdana, sans-serif;
}

button {
  font-style: normal;
  font-size: 0.875em;
  line-height: 1em;
  font-weight: 400;
  font-family: "DIN-Bold", Arial, Verdana, sans-serif;
}

/**** 

03 - BASE 

****/
/* 
ANTIALIASED RESEARCH 

Toch gegaan voor antialiased om mijn fonts wat strakker te maken. 
Hieronder staan wat voor en nadelen die ik gevonden heb online.

Tegen: https://github.com/google/fonts/issues/1170
Tegen: https://usabilitypost.com/2012/11/05/stop-fixing-font-smoothing/
Voor: https://medium.com/better-programming/improving-font-rendering-with-css-3383fc358cbc
MDN uitleg: https://developer.mozilla.org/en-US/docs/Web/CSS/font-smooth

*/
body {
  font-style: normal;
  font-size: 1em;
  line-height: 1em;
  font-family: "DIN-Regular", Arial, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  width: 100%;
  background: #000;
  color: #FFF;
  animation: fadein 2s ease-in-out;
}

h1 {
  letter-spacing: -0.045em;
}

h2 {
  letter-spacing: -0.0375em;
}

/**** 

04 - HEADER/NAVIGATION 

****/
header {
  width: 100%;
  position: fixed;
  display: flex;
  padding: 2em 0;
  justify-content: center;
  align-items: center;
  background: transparent;
  z-index: 999;
}
header nav:nth-of-type(1) {
  width: 100%;
  width: calc(100% - 3em);
  height: 100%;
  display: flex;
  position: relative;
}
header nav:nth-of-type(1) ul {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
header nav:nth-of-type(1) ul li.animated_link {
  display: none;
}
#logo {
  margin: 0;
}
#logo img {
  width: 150px;
  height: 100%;
  position: relative;
  z-index: 1000;
}

header nav:nth-of-type(1) ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #FFF;
  font-size: 0.875em;
  margin-right: 1em;
  margin-top: 0.5em;
  position: relative;
  padding-bottom: 0.15em;
}
header nav:nth-of-type(2) {
  background: #000;
  top: 0;
  right: 0;
  height: 100vh;
  width: 18.125em;
  display: flex;
  position: absolute;
  z-index: 100;
  transform: translate(20em, 0);
  transition: all 0.8s cubic-bezier(0.215, 0.61, 0.355, 1);
}
header nav:nth-of-type(2) ul {
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  width: 100%;
  padding: 5em 1em 0 3em;
  transition: opacity 0.5s ease-in-out;
}
header nav:nth-of-type(2) ul li {
  padding: 0.75em 0;
  border-bottom: 0.1em solid #444444;
  width: 100%;
  text-align: right;
}
header nav:nth-of-type(2) ul li.mobile_link {
  border-bottom: 0.1em solid #444444;
  width: 100%;
  text-align: right;
  text-decoration: none;
  text-transform: uppercase;
  color: #FFF;
}
header nav:nth-of-type(2) ul li a {
  position: relative;
  padding-bottom: 0.15em;
  text-decoration: none;
  text-transform: uppercase;
  color: #FFF;
  font-family: "DIN-Regular", Arial, Verdana, sans-serif;
}
header nav:nth-of-type(2).open_subNav {
  transform: translate(0, 0);
}
header nav:nth-of-type(2).open_subNav ul {
  opacity: 1;
  background: #000;
}
header button {
  position: absolute;
  right: 0;
  margin: 0.5em 1em 0;
  z-index: 999;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
header button::before {
  content: "";
  background-color: #FFF;
  display: block;
  height: 2px;
  width: 1em;
  margin: 0 0 0.15em;
  transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}
header button::after {
  content: "";
  background-color: #FFF;
  display: block;
  height: 2px;
  width: 1em;
  margin: 0.15em 0;
  transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}
header button div {
  background-color: #FFF;
  display: block;
  height: 2px;
  width: 1em;
  margin: 0;
  transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.open_hamMenu::before {
  background-color: #FFF;
  content: "";
  display: block;
  transform: rotate(45deg) translateX(0.18em);
  height: 2px;
  width: 1em;
}
.open_hamMenu::after {
  background-color: #FFF;
  content: "";
  display: block;
  transform: rotate(-45deg) translateX(0.19em);
  height: 2px;
  width: 1em;
}
.open_hamMenu div {
  display: none;
}

.overlay {
  background-color: rgba(0, 0, 0, 0);
  transition: all 1s cubic-bezier(0.215, 0.61, 0.355, 1);
  position: fixed;
  visibility: hidden;
  z-index: 2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  pointer-events: inherit;
}
.overlay.open_overlay {
  background-color: rgba(0, 0, 0, 0.75);
  visibility: visible;
}

header.visible {
  background: #000;
  transition: all 0.5s ease;
}
header.visible nav:nth-of-type(1) {
  transform: translate(0, 0);
  transition: all 0.5s ease;
  z-index: 999;
}
header.visible nav:nth-of-type(2).open_subNav {
  transform: translate(0, 0);
  transition: all 0.5s ease;
}
header.visible button {
  transform: translate(0, 0);
  transition: all 0.5s ease;
}
header.visible .overlay.open_overlay {
  opacity: 1;
  transition: all 0.5s ease;
}
header.hidden {
  background: transparent;
  transition: all 0.5s ease;
}
header.hidden nav:nth-of-type(1) {
  transform: translate(0, -20em);
  transition: all 0.5s ease;
}
header.hidden button {
  transform: translate(0, -20em);
  transition: all 0.5s ease;
}
header.hidden nav:nth-of-type(2).open_subNav {
  transform: translate(20em, 0);
  transition: all 0.5s ease;
}
header.hidden .overlay.open_overlay {
  opacity: 0;
  transition: all 0.5s ease;
}

/**** 

05 - FOOTER 

****/
footer {
  width: 100%;
  height: 100%;
  padding: 2em 0;
  background: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .copyright {
  padding-bottom: 1em;
  color: #979797;
  font-size: 0.75em;
  line-height: 1em;
  font-style: normal;
  text-decoration: none;
  text-transform: uppercase;
}
footer ul {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
}
footer ul li {
  list-style: none;
}
footer ul li a {
  color: #FFF;
  font-size: calc(.5vw + .5vh + .5vmin);
  line-height: 1em;
  font-style: normal;
  text-decoration: none;
  text-transform: uppercase;
}
footer ul li a:hover {
  opacity: 0.75;
}
footer ul li.desktop_copyright {
  display: none;
}

/**** 

06 - HOME 

****/
main {
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 1;
}
main section article {
  width: 100%;
  height: 100%;
  width: calc(100% - 3em);
  margin: 10em auto;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}
main section article h2 {
  color: #FFF;
  margin-bottom: 0.5em;
  margin-top: 0.375em;
  text-transform: uppercase;
  text-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
}
main section article h3 {
  color: #FFF;
  text-transform: uppercase;
  text-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
}
main section article p {
  color: #FFF;
  margin-bottom: 2em;
  width: 100%;
}
main section article button {
  color: #FFF;
  background: transparent;
  text-decoration: none;
  text-transform: uppercase;
  border: 2px solid #FFF;
  width: fit-content;
  width: intrinsic;
  /* Browser compatibility - Safari/WebKit uses a non-standard name */
  width: -moz-max-content;
  /* Browser compatibility - Firefox/Gecko */
  width: -webkit-max-content;
  /* Browser compatibility - Chrome */
  /* source about fit-content: https://developer.mozilla.org/en-US/docs/Web/CSS/fit-content */
  padding: 1.25em 3em;
  margin-top: 1em;
  position: relative;
  overflow: hidden;
  z-index: 100;
}
.img_section {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.img_section:nth-child(1) {
  background: url("../images/mobile-backgrounds/docking.webp") no-repeat center center/cover;
}
.img_section:nth-child(2) {
  background: url("../images/mobile-backgrounds/home_demo2.webp") no-repeat center center/cover;
}
.img_section:nth-child(3) {
  background: url("../images/mobile-backgrounds/iss_game.webp") no-repeat center center/cover;
}
.img_section:nth-child(4) {
  background: url("../images/mobile-backgrounds/SN8.webp") no-repeat center center/cover;
}
.img_section:nth-child(4) article {
  justify-content: flex-start;
}
.img_section:nth-child(5) {
  background: url("../images/mobile-backgrounds/home_moon.webp") no-repeat center center/cover;
}
.img_section:nth-child(5) article {
  justify-content: flex-start;
  width: 50%;
  margin-left: auto;
  margin-right: 2em;
}
.img_section .scroll_arrow {
  width: 2em;
  margin: 0 auto;
  padding-bottom: 3em;
}

/**** 

07 - FALCON 9 

****/
.intro_section {
  background: url("../images/mobile-backgrounds/f9_feature.jpg") no-repeat center center/cover;
  height: 100vh;
  width: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.intro_section article {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: -5em auto 0;
}
.intro_section article h1 {
  color: #FFF;
  font-size: 3em;
  margin-bottom: 0.375em;
  text-transform: uppercase;
  width: 100%;
}
.intro_section article h3 {
  color: #FFF;
  font-size: 0.875em;
  line-height: 1.25em;
  padding: 0 3em;
  text-shadow: none;
  text-transform: uppercase;
}
.intro_section .scroll_arrow {
  width: 2em;
  margin: 0 auto;
  padding-bottom: 3em;
}

.stats_section {
  background: #000;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.stats_section section {
  max-width: 960px;
  width: 100%;
  height: 100%;
  padding: 4em 1em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  margin: 0;
}
.stats_section section h4 {
  color: white;
  font-size: 3em;
  padding-bottom: 0.25em;
  font-family: "DIN-Regular", Arial, Verdana, sans-serif;
}
.stats_section section p {
  font-size: 0.75em;
  padding: 0 1em;
  text-align: center;
  line-height: 1.25em;
  text-transform: uppercase;
}

.rocket_info_section {
  height: 100%;
  width: 100%;
  padding-top: 100vh;
  position: relative;
}
.rocket_info_section article {
  margin: 0 auto;
  width: 100%;
  height: 100vh;
  width: calc(100% - 5em);
  position: relative;
  justify-content: center;
}
.rocket_info_section article p {
  z-index: 100;
  align-self: start;
}
.rocket_info_section .line-rocket {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-image: url("../images/mobile-backgrounds/WebsiteF9Fairings_Lines_Mobile.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

.rocket_slider_section {
  max-width: 960px;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  padding: 4em 1em;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.rocket_slider_section .slider_header {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 1fr;
}
.rocket_slider_section .slider_header .slider-buttons {
  direction: rtl;
}
.rocket_slider_section .slider_header .slider-buttons span {
  padding: 0 0 0 1.5em;
}
.rocket_slider_section .slider_header .slider-buttons span img {
  width: 2vw;
}
.rocket_slider_section .slider_header h2 {
  font-size: 2.25em;
  text-transform: uppercase;
}
.rocket_slider_section .slider_header h3 {
  font-size: 0.875em;
  text-transform: uppercase;
  font-family: "DIN-Bold", Arial, Verdana, sans-serif;
  padding-bottom: 0.25em;
}
.rocket_slider_section ul {
  margin-top: 2em;
}
.rocket_slider_section ul li {
  border-bottom: 0.1em solid #444444;
  font-family: "DIN-Bold", Arial, Verdana, sans-serif;
  padding: 1.25em 0;
  font-size: 0.875em;
  display: flex;
  color: #FFF;
  justify-content: space-between;
}
.rocket_slider_section ul li p {
  font-size: 1em;
  font-family: "DIN-Bold", Arial, Verdana, sans-serif;
}
.rocket_slider_section ul li p span {
  color: #979797;
  font-size: 1em;
  text-transform: uppercase;
}
.rocket_slider_section ul li span {
  color: #FFF;
  font-size: 0.875em;
  text-transform: uppercase;
}

.video_section {
  background: url("../images/mobile-backgrounds/f9_video.webp") no-repeat 53% center/cover;
  height: 100vh;
  width: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  transform: translateY(0);
  transition: transform 1.5s ease-in-out;
  position: relative;
}
.video_section .play-btn {
  background-color: transparent;
  border: none;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  pointer-events: none;
}
.video_section .play-btn img {
  width: 7.5vw;
  cursor: pointer;
  pointer-events: visible;
}
.video-modal {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -999;
  overflow-y: hidden;
  overflow-x: hidden;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  visibility: hidden;
  opacity: 0;
}
.video-modal iframe {
  transition: all 1.5s ease-in-out;
  margin-bottom: 2em;
  position: relative;
}
.video-modal span {
  transition: all 1.75s ease-in-out;
  text-transform: uppercase;
  font-size: 0.875em;
  font-family: "DIN-Bold", Arial, Verdana, sans-serif;
}

.modal-active {
  z-index: 999;
  transform: translateY(0);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: all 1s ease-in-out;
}

.close-modal {
  position: absolute;
  top: 1em;
  right: 1em;
  margin: 0.5em 1em 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.close-modal::before {
  content: "";
  background-color: #FFF;
  display: block;
  height: 2px;
  width: 1em;
  margin: 0.15em 0;
  transform: rotate(45deg) translateX(0.25em);
  transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.close-modal::after {
  content: "";
  background-color: #FFF;
  display: block;
  height: 2px;
  width: 1em;
  margin: 0.15em 0;
  transform: rotate(-45deg) translateX(0.2em);
  transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.video_section article {
  margin: 4em auto;
}
.video_section article h3 {
  text-shadow: none;
}

.engines_section {
  height: 100%;
  width: 100%;
  margin: 0 auto 3em;
}
.engines_section .engine_img {
  background: url("../images/mobile-backgrounds/Merlin.webp") no-repeat center center/cover;
  height: 75vh;
  width: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
}
.engines_section .engine_img article {
  margin: 2em auto 0;
}
.engines_section .engine_img article h4 {
  font-size: 0.875em;
  padding: 2em 0 2em;
  font-family: "DIN-Medium", Arial, Verdana, sans-serif;
  text-transform: uppercase;
}
.engines_section .engine_img article h4 span {
  color: #979797;
}
.engines_section .engine_img article h3 {
  font-family: "DIN-Bold", Arial, Verdana, sans-serif;
}
.engines_section .engine_img article p {
  font-size: 1em;
}
.engines_section ul {
  max-width: 960px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.engines_section ul li {
  border-bottom: 0.1em solid #444444;
  font-family: "DIN-Bold", Arial, Verdana, sans-serif;
  padding: 1.25em 0;
  font-size: 0.875em;
  display: flex;
  align-items: center;
  color: #FFF;
  justify-content: space-between;
}
.engines_section ul li p {
  margin-bottom: 0;
  font-size: 1em;
  font-family: "DIN-Bold", Arial, Verdana, sans-serif;
}
.engines_section ul li p span {
  color: #979797;
  font-size: 1em;
  text-transform: uppercase;
}
.engines_section ul li span {
  color: #FFF;
  font-size: 0.875em;
  text-transform: uppercase;
}

.gallery_section {
  height: 100%;
  width: 100%;
}
.gallery_section .slider-buttons {
  height: 100%;
  max-width: 960px;
  width: 100%;
  padding: 0 1.5em;
  margin: 3em auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.gallery_section .slider-buttons p {
  order: 1;
  text-align: center;
  padding: 0 3em;
  font-size: 0.75em;
}
.gallery_section article {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8em auto;
  width: 100%;
  height: 100%;
  width: calc(100% - 3em);
  margin: 8em auto;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}
.gallery_section article .button-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.gallery_section article .button-container button {
  min-width: 275px;
  padding: 1.25em 1em;
  font-size: 1em;
}
.gallery_section article .button-container button:nth-child(2) {
  margin-top: 1.25em;
}
.gallery_section article p {
  text-align: center;
  margin: 3em 0 0.25em;
  color: #979797;
}
.gallery_section article p a {
  color: #FFF;
  font-family: "DIN-Regular", Arial, Verdana, sans-serif;
  text-decoration: none;
}
.gallery_section article .line {
  width: 2px;
  height: 18vh;
  background: #FFF;
}

/* GSAP ScrollTrigger ANIMATION */
.rocket_change_section {
  position: relative;
  height: 100%;
  padding-top: 100vh;
  overflow-x: hidden;
}

.bg-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.bg.one {
  background-image: url("../images/desktop-backgrounds/WebsiteF9Fairings_Lines_Desktop.webp");
}
.bg.two {
  background-image: url("../images/desktop-backgrounds/WebsiteF9Fairings_Render_Desktop.webp");
}

.bg-text {
  display: block;
  position: relative;
  height: 75vh;
}

/* SWIPER SLIDER */
.swiper-container {
  width: 100%;
  height: 75vh;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  height: 75vh;
  width: 100%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.swiper-slide p {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 2em;
  text-align: center;
  background-color: #000;
}
.swiper-slide:nth-child(1) {
  background-image: url("../images/slider-images/F9_1.webp");
}
.swiper-slide:nth-child(2) {
  background-image: url("../images/slider-images/F9_2.webp");
}
.swiper-slide:nth-child(3) {
  background-image: url("../images/slider-images/F9_3.webp");
}
.swiper-slide:nth-child(4) {
  background-image: url("../images/slider-images/F9_4.webp");
}
.swiper-slide:nth-child(5) {
  background-image: url("../images/slider-images/F9_5.webp");
}
.swiper-slide:nth-child(6) {
  background-image: url("../images/slider-images/F9_6.webp");
}
.swiper-slide:nth-child(7) {
  background-image: url("../images/slider-images/F9_7.webp");
}
.swiper-slide:nth-child(8) {
  background-image: url("../images/slider-images/F9_8.webp");
}
.swiper-slide:nth-child(9) {
  background-image: url("../images/slider-images/F9_9.webp");
}
.swiper-slide:nth-child(10) {
  background-image: url("../images/slider-images/F9_10.webp");
}

.swiper-buttons {
  height: auto;
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: 999;
  padding: 2em;
  display: flex;
  justify-content: space-between;
}
.swiper-buttons button {
  background-color: transparent;
  border: none;
}
.swiper-buttons button img {
  width: 1vw;
}

/**** 

08 - ANIMATIONS 

****/
/* FADE IN ELEMENTS */
.content h1.fade-element {
  transition-delay: 0.75s;
  transition: 0.75s cubic-bezier(0.215, 0.61, 0.355, 1);
  opacity: 0;
  transform: translateY(50px);
}
.content h1.inView {
  opacity: 1;
  transform: translateY(0px);
}
.content h2.fade-element {
  transition-delay: 0.4s;
  transition: 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
  opacity: 0;
  transform: translateY(65px);
}
.content h2.inView {
  opacity: 1;
  transform: translateY(0px);
}
.content h3.fade-element {
  transition-delay: 0.5s;
  transition: 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  opacity: 0;
  transform: translateY(75px);
}
.content h3.inView {
  opacity: 1;
  transform: translateY(0px);
}
.content h4.fade-element {
  transition-delay: 0.75s;
  transition: 0.75s cubic-bezier(0.215, 0.61, 0.355, 1);
  opacity: 0;
  transform: translateY(90px);
}
.content h4.inView {
  opacity: 1;
  transform: translateY(0px);
}
.content p.fade-element {
  transition-delay: 1s;
  transition: 1s cubic-bezier(0.215, 0.61, 0.355, 1);
  opacity: 0;
  transform: translateY(100px);
}
.content p.inView {
  opacity: 1;
  transform: translateY(0px);
}
.content button.fade-element {
  transition-delay: 1.25s;
  transition: 1.25s cubic-bezier(0.215, 0.61, 0.355, 1);
  opacity: 0;
  transform: translateY(100px);
}
.content button.inView {
  opacity: 1;
  transform: translateY(0px);
}

li.fade-element {
  transition-delay: 0.5s;
  transition: 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  opacity: 0;
  transform: translateY(200px);
}
li.inView {
  opacity: 1;
  transform: translateY(0px);
}

.line.fade-element {
  transition-delay: 1s;
  transition: 1s cubic-bezier(0.215, 0.61, 0.355, 1);
  opacity: 0;
  transform: translateY(200px);
}
.line.inView {
  opacity: 1;
  transform: translateY(0px);
}

.slideinup {
  animation: slideInUp 0.8s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.slideoutdown {
  animation: slideOutDown 0.8s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.slideawayup {
  animation: slideAwayUp 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.slideawaydown {
  animation: slideAwayDown 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.moveupdown {
  animation: moveupdown 2s infinite;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes slideAwayUp {
  0% {
    transform: translateY(0);
    transform-origin: top center;
  }
  100% {
    transform: translateY(-75%);
  }
}
@keyframes slideAwayDown {
  0% {
    transform: translateY(75%);
    transform-origin: bottom center;
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes slideInUp {
  0% {
    transform: translateY(100%);
    transform-origin: bottom center;
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes slideOutDown {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
    transform-origin: top center;
  }
}
@keyframes moveupdown {
  0% {
    transform: translateY(-2em);
    opacity: 0;
  }
  75% {
    transform: translateY(-1em);
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 0;
  }
}
/* COUNTER ONE - FROM 0 TO 100 */
@property --num {
  syntax: "<integer>";
  initial-value: 100;
  inherits: false;
}
.counter_one {
  animation: counter 5s alternate ease-in-out;
  counter-reset: num var(--num);
}

.counter_one::after {
  content: counter(num);
}

/* COUNTER TWO - FROM 0 TO 61 */
@property --num-second {
  syntax: "<integer>";
  initial-value: 61;
  inherits: false;
}
.counter_two {
  animation: counter 5s alternate ease-in-out;
  counter-reset: numsecond var(--num-second);
}

.counter_two::after {
  content: counter(numsecond);
}

/* COUNTER THREE - FROM 0 TO 43 */
@property --num-third {
  syntax: "<integer>";
  initial-value: 43;
  inherits: false;
}
.counter_three {
  animation: counter 5s alternate ease-in-out;
  counter-reset: numthird var(--num-third);
}

.counter_three::after {
  content: counter(numthird);
}

@keyframes counter {
  from {
    --num: 0;
    --num-second: 0;
    --num-third: 0;
  }
  to {
    --num: 100;
    --num-second: 61;
    --num-third: 43;
  }
}
/**** 

09 - RESPONSIVE 

****/
/*** 
MIN WIDTH 48 EM 
***/
@media screen and (min-width: 48em) {
  /* HEADER */
  header nav:nth-of-type(2) ul li a {
    font-size: 1em;
  }
  header button::before {
    width: 1em;
    margin: 0.14em 0;
  }
  header button::after {
    width: 1em;
    margin: 0.1em 0;
  }
  header button div {
    width: 1em;
    margin: 0 0;
  }

  .open_hamMenu::before {
    width: 1em;
    transform: rotate(45deg) translate(1px, -4.5px);
  }
  .open_hamMenu::after {
    width: 1em;
    transform: rotate(-45deg) translate(8px, -3px);
  }
  .open_hamMenu div {
    display: none;
  }

  /* FALCON 9 */
  .close-modal::before {
    width: 1em;
    transform: rotate(45deg) translateX(0.2em);
  }
  .close-modal::after {
    width: 1em;
    transform: rotate(-45deg) translateX(0.22em);
  }

  .video-modal iframe {
    width: 640px;
    height: 350px;
    margin: 0 auto;
  }
  .video-modal span {
    margin-top: 2em;
  }

  .gallery_section article .button-container button {
    min-width: 300px;
    font-size: 1em;
  }
  .gallery_section article .button-container button:nth-child(2) {
    margin-top: 1.25em;
  }
}
/*** 
MIN WIDTH 64 EM 
***/
@media screen and (min-width: 64em) {
  /* HEADER */
  header {
    padding: 2em 0;
  }
  header nav:nth-of-type(1) {
    width: calc(960px - 3em);
    max-width: 100%;
  }
  header nav:nth-of-type(1) ul {
    justify-content: flex-start;
  }
  header nav:nth-of-type(1) ul li.animated_link {
    display: block;
    padding: 0.5em 0.2em 0;
  }
  header nav:nth-of-type(1) ul li #logo img {
    width: 210px;
  }
  header nav:nth-of-type(1) ul li:nth-child(2) {
    margin-left: 1em;
  }
  header nav:nth-of-type(1) ul li a::after {
    height: 1px;
    left: 0;
    bottom: 0;
    width: 100%;
    transform-origin: right center;
    transform: scaleX(0);
    transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  }
  header nav:nth-of-type(1) ul li a:hover:after {
    width: 100%;
    transform: scaleX(1);
    transform-origin: left center;
  }
  .mobile_link {
    display: none;
  }

  .animated_link a::before {
    background: #FFF;
    content: "";
    position: absolute;
    z-index: -1;
  }
  .animated_link a::after {
    background: #FFF;
    content: "";
    position: absolute;
    z-index: -1;
  }

  header nav:nth-of-type(2) {
    width: 21.875em;
    transform: translate(100em, 0);
  }
  header nav:nth-of-type(2) ul {
    padding: 6em 2em 6em 6em;
  }
  header nav:nth-of-type(2) ul li a {
    font-size: 1em;
  }
  header button {
    right: 0.25em;
    margin: 0.3em 1em 0;
  }
  header button::before {
    width: 1em;
    margin: 0.12em 0;
  }
  header button::after {
    width: 1em;
    margin: 0.15em 0;
  }
  header button div {
    width: 1em;
    margin: 0 0;
  }

  .open_hamMenu::before {
    width: 1em;
    transform: rotate(45deg) translate(0px, -5.5px);
  }
  .open_hamMenu::after {
    width: 1em;
    transform: rotate(-45deg) translate(8px, -3px);
  }
  .open_hamMenu div {
    display: none;
  }

  /* HOME */
  main section article {
    width: calc(960px - 3em);
    max-width: 100%;
    margin: 10em auto;
  }
  main section article h2 {
    font-size: 3em;
  }
  main section article h3 {
    font-size: 1.25em;
  }
  main section article p {
    width: 50ch;
    font-size: 1em;
  }
  main section article button {
    font-size: 0.875em;
  }
  main section article button::before {
    background: #FFF;
    content: "";
    position: absolute;
    z-index: -1;
  }
  main section article button::after {
    background: #FFF;
    content: "";
    position: absolute;
    z-index: -1;
  }
  main section article button:hover {
    color: #000;
    cursor: pointer;
  }
  .img_section:nth-child(1) {
    background: url("../images/desktop-backgrounds/docking.jpg") no-repeat center center/cover;
  }
  .img_section:nth-child(2) {
    background: url("../images/desktop-backgrounds/home_demo2.jpg") no-repeat center center/cover;
  }
  .img_section:nth-child(3) {
    background: url("../images/desktop-backgrounds/iss_game.jpg") no-repeat center center/cover;
  }
  .img_section:nth-child(4) {
    background: url("../images/desktop-backgrounds/SN8.jpg") no-repeat center center/cover;
  }
  .img_section:nth-child(5) {
    background: url("../images/desktop-backgrounds/home_moon.jpg") no-repeat center center/cover;
  }
  .img_section:nth-child(5) article {
    padding-left: 5em;
    justify-content: center;
  }
  .img_section:nth-child(5) article h2 {
    width: 15ch;
  }
  .img_section:nth-child(5) article p {
    width: 50ch;
  }

  /* FALCON 9 */
  .intro_section article h1 {
    font-size: 6em;
  }
  .intro_section article h3 {
    font-size: 1.25em;
  }

  .stats_section section {
    padding: 6em 1em;
  }
  .stats_section section h4 {
    font-size: 8em;
    font-family: "DIN-Medium", Arial, Verdana, sans-serif;
    padding-bottom: 0;
  }
  .stats_section section p {
    font-size: 1.5em;
  }

  .rocket_info_section article {
    width: calc(960px - 3em);
  }
  .rocket_info_section article p {
    font-size: 1.25em;
  }
  .rocket_info_section .line-rocket {
    background-image: url("../images/desktop-backgrounds/WebsiteF9Fairings_Lines_Desktop.webp");
  }

  .rocket_slider_section {
    max-width: calc(960px - 3em);
    padding: 4em 0;
  }
  .rocket_slider_section ul li span {
    font-size: 1.25em;
  }
  .rocket_slider_section ul li p {
    font-size: 1.25em;
  }
  .rocket_slider_section .slider_header h3 {
    font-size: 1.25em;
    font-family: "DIN-Regular", Arial, Verdana, sans-serif;
    padding-bottom: 0.5em;
  }
  .rocket_slider_section .slider_header h2 {
    font-size: 2.75em;
  }
  .rocket_slider_section .slider_header .slider-buttons span img {
    width: 0.5vw;
  }

  .video_section .play-btn img {
    width: 5vw;
  }
  .video_section article h3 {
    font-size: 1.25em;
  }
  .video_section article h2 {
    font-size: 3em;
  }

  .engines_section {
    margin: 0 auto;
    padding: 10em 0 10em;
    background: url("../images/mobile-backgrounds/Merlin.webp") no-repeat center center/cover;
  }
  .engines_section article h3 {
    font-size: 1.25em;
    font-family: "DIN-Regular", Arial, Verdana, sans-serif;
  }
  .engines_section article h2 {
    font-size: 3em;
  }
  .engines_section article h4 {
    font-size: 1em;
    font-family: "DIN-Bold", Arial, Verdana, sans-serif;
  }
  .engines_section .engine_img {
    display: none;
  }
  .engines_section ul {
    max-width: calc(480px - 3em);
    margin-right: auto;
    padding: 0;
  }

  .gallery_section article .line {
    height: 25vh;
  }
  .gallery_section article .button-container {
    justify-content: center;
    flex-direction: row;
  }
  .gallery_section article .button-container button {
    padding: 1.5em 1em;
    margin-left: 1em;
    margin-right: 1em;
    font-size: 1em;
  }
  .gallery_section article .button-container button:nth-child(2) {
    margin-top: auto;
  }
  .gallery_section article p {
    width: 100%;
    font-size: 1em;
    margin-bottom: 1.25em;
  }
  .gallery_section article p a {
    font-size: 1em;
  }
  .gallery_section .slider-buttons {
    max-width: calc(100% - 3em);
    justify-content: space-between;
  }
  .gallery_section .slider-buttons p {
    font-size: 1em;
  }

  .video-modal iframe {
    width: 640px;
    height: 350px;
    margin: 0 auto;
  }
  .video-modal span {
    margin-top: 2em;
  }

  .animated_button::after {
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
    transform-origin: top center;
    transform: scale3d(1, 0, 1);
    transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  }
  .animated_button:hover::after {
    height: 100%;
    width: 100%;
    transform: scale3d(1, 1, 1);
    transform-origin: bottom center;
  }

  footer .copyright {
    display: none;
  }
  footer ul {
    width: 960px;
    max-width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  footer ul li {
    padding: 1em 1.5em;
  }
  footer ul li.desktop_copyright {
    display: block;
    color: #979797;
    font-size: 0.65em;
    margin-bottom: -0.25em;
    font-style: normal;
    text-decoration: none;
    text-transform: uppercase;
  }
  footer ul li a {
    font-size: 0.65em;
  }
}
/*** 
MIN WIDTH 85.375 EM 
***/
@media screen and (min-width: 85.375em) {
  /* HEADER */
  header {
    padding: 2em 0;
  }
  header nav:nth-of-type(1) {
    width: 1300px;
    max-width: 100%;
  }
  header button {
    right: 1em;
  }
  header button::before {
    width: 1em;
    margin: 0.12em 0;
  }
  header button::after {
    width: 1em;
    margin: 0.15em 0;
  }
  header button div {
    width: 1em;
    margin: 0 0;
  }

  .open_hamMenu::before {
    width: 1em;
    transform: rotate(45deg) translate(-0.25px, -5px);
  }
  .open_hamMenu::after {
    width: 1em;
    transform: rotate(-45deg) translate(8px, -3.5px);
  }
  .open_hamMenu div {
    display: none;
  }

  /* HOME */
  main section article {
    width: 1300px;
    max-width: 100%;
    margin: 10em auto;
  }
  .img_section:nth-child(5) article {
    padding-left: 15em;
    justify-content: center;
  }

  /* FALCON 9 */
  .close-modal::before {
    width: 1em;
    transform: rotate(45deg) translateX(0.2em);
  }
  .close-modal::after {
    width: 1em;
    transform: rotate(-45deg) translateX(0.2em);
  }
}
/*** 
MIN WIDTH 150 EM 
***/
@media screen and (min-width: 150em) {
  /* HEADER */
  header {
    padding: 2em 0;
  }
  header nav:nth-of-type(1) {
    width: 1200px;
    max-width: 100%;
  }
  header button {
    right: 0;
  }

  .open_hamMenu::before {
    width: 0.45em;
    transform: rotate(45deg) translate(0px, -5px);
  }
  .open_hamMenu::after {
    width: 0.45em;
    transform: rotate(-45deg) translate(8px, -4px);
  }
  .open_hamMenu div {
    display: none;
  }

  /* HOME */
  main section article {
    width: 1200px;
    max-width: 100%;
    margin: 10em auto;
  }
  .img_section:nth-child(5) article {
    padding-left: 15em;
    justify-content: center;
  }

  /* FALCON 9 */
  .close-modal::before {
    width: 1em;
    height: 3px;
    transform: rotate(45deg) translateX(0.2em);
  }
  .close-modal::after {
    width: 1em;
    height: 3px;
    transform: rotate(-45deg) translateX(0.22em);
  }
}

/*# sourceMappingURL=main.css.map */
