/* RESET */
*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
}

h1,
h2,
p,
a,
ul,
li {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

*:focus {
  outline: none;
}

li {
  list-style: none;
}

/* FONTS */
@font-face {
  font-family: "DIN-Light";
  src: url("../fonts/DIN Light.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "DIN-Regular";
  src: url("../fonts/DIN.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "DIN-Medium";
  src: url("../fonts/DIN Medium.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "DIN-Bold";
  src: url("../fonts/DIN Bold.woff2") format("woff2");
  font-display: swap;
}
/* BASE */
body {
  font-family: "DIN-Regular", Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  width: 100%;
  background: #000;
  color: #FFF;
  animation: fadein 2s ease-in-out;
}

h1,
h2,
h3 {
  font-family: "DIN-Bold", Arial, Helvetica, sans-serif;
  letter-spacing: -0.065em;
}

a, button {
  font-family: "DIN-Bold", Arial, Helvetica, sans-serif;
}

/* HEADER */
header {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  left: 0;
  right: 0;
  height: auto;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row nowrap;
  z-index: 999;
}

nav:nth-of-type(1) {
  padding: 2em 0;
  width: 100vw;
  height: 100%;
  display: flex;
  position: relative;
  background-color: transparent;
}
nav:nth-of-type(1) ul {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100%;
}
nav:nth-of-type(1) ul li {
  margin-top: 0.5em;
}
nav:nth-of-type(1) ul li #logo img {
  width: 210px;
  height: 100%;
  margin-right: 2.5em;
}
nav:nth-of-type(1) ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #FFF;
  font-size: 0.75em;
  margin-right: 1.75em;
  margin-top: 0.5em;
  position: relative;
  padding-bottom: 0.25em;
}
nav:nth-of-type(1) ul li a::after {
  height: 1px;
  left: 0;
  bottom: 0;
  width: 100%;
  transform-origin: right center;
  transform: scaleX(0);
  transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
}
nav:nth-of-type(1) ul li a:hover:after {
  width: 100%;
  transform: scaleX(1);
  transform-origin: left center;
}
.animated_link a::before {
  background: #FFF;
  content: "";
  position: absolute;
  z-index: -1;
}
.animated_link a::after {
  background: #FFF;
  content: "";
  position: absolute;
  z-index: -1;
}

nav:nth-of-type(2) {
  background: #000;
  top: 0;
  right: 0;
  width: 0;
  height: 100vh;
  display: flex;
  position: absolute;
  z-index: 100;
  transform: translateX(20em);
  transition: all 1s cubic-bezier(0.215, 0.61, 0.355, 1);
}
nav:nth-of-type(2) ul {
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  width: 100vw;
  padding: 6em 4em;
  transition: opacity 0.5s ease-in-out;
}
nav:nth-of-type(2) ul li {
  padding: 1em 0;
  border-bottom: 0.1em solid #444;
  width: 100%;
  text-align: right;
}
nav:nth-of-type(2) ul li.mobile_link {
  padding: 1em 0;
  border-bottom: 0.1em solid #444;
  width: 100%;
  text-align: right;
  text-decoration: none;
  text-transform: uppercase;
  color: #FFF;
  font-size: 1em;
}
nav:nth-of-type(2) ul li a {
  position: relative;
  padding-bottom: 0.25em;
  text-decoration: none;
  text-transform: uppercase;
  color: #FFF;
  font-size: 1em;
}
nav:nth-of-type(2).open_subNav {
  transform: translateX(0);
  width: 28vw;
}
nav:nth-of-type(2).open_subNav ul {
  opacity: 1;
  background: #000;
}

.mobile_link {
  display: none;
}

.overlay {
  background-color: rgba(0, 0, 0, 0);
  transition: all 1s cubic-bezier(0.215, 0.61, 0.355, 1);
  position: fixed;
  visibility: hidden;
  z-index: 2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
.overlay.open_overlay {
  background-color: rgba(0, 0, 0, 0.5);
  visibility: visible;
}

header button {
  position: absolute;
  right: 4em;
  z-index: 999;
  margin: 0 1em;
  background-color: transparent;
  border: none;
}
header button::after {
  background-color: #FFF;
  content: "";
  display: block;
  height: 2px;
  width: 1.25em;
  margin: 0.21em 0;
  transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  cursor: pointer;
}
header button::before {
  background-color: #FFF;
  content: "";
  display: block;
  height: 2px;
  width: 1.25em;
  margin: 0.21em 0;
  transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  cursor: pointer;
}
header button div {
  background-color: #FFF;
  content: "";
  display: block;
  height: 2px;
  width: 1.25em;
  margin: 0.21em 0;
  transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  cursor: pointer;
}

.open_hamMenu::before {
  background-color: #FFF;
  content: "";
  display: block;
  transform: rotate(45deg) translateX(0.2em);
  height: 2px;
  width: 1.25em;
}
.open_hamMenu::after {
  background-color: #FFF;
  content: "";
  display: block;
  transform: rotate(-45deg) translateX(0.2em);
  height: 2px;
  width: 1.25em;
}
.open_hamMenu div {
  display: none;
}

/* FOOTER */
footer {
  width: 100%;
  height: 100%;
  padding: 2em 0;
  background: #000;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}
footer ul {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
}
footer ul li a {
  color: #FFF;
  font-size: 0.65em;
  line-height: 1em;
  font-style: normal;
  text-decoration: none;
  text-transform: uppercase;
}
footer .copyright {
  color: #979797;
  font-size: 0.75em;
  line-height: 1em;
  font-style: normal;
  text-decoration: none;
  text-transform: uppercase;
  margin-bottom: 1em;
}

/* HOME */
main {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
  z-index: 1;
}
main section.img_block {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
main section.img_block:nth-child(1) {
  background: url(../images/desktop-backgrounds/docking.jpg) no-repeat center center/cover;
}
main section.img_block:nth-child(2) {
  background: url(../images/desktop-backgrounds/home_demo2.jpg) no-repeat center center/cover;
}
main section.img_block:nth-child(3) {
  background: url(../images/desktop-backgrounds/iss_game.jpg) no-repeat center center/cover;
}
main section.img_block:nth-child(4) {
  background: url(../images/desktop-backgrounds/SN8.jpg) no-repeat center center/cover;
}
main section.img_block:nth-child(4) .content {
  justify-content: flex-start;
}
main section.img_block:nth-child(5) {
  background: url(../images/desktop-backgrounds/home_moon.jpg) no-repeat center center/cover;
}
main section.img_block:nth-child(5) .content {
  justify-content: center;
  width: 50vw;
  margin-left: auto;
  margin-right: 0;
}
main section.content {
  height: 100%;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  margin-bottom: 7em;
  margin-top: 7em;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
main section.content h1 {
  color: #FFF;
  font-size: 2.125em;
  line-height: 1em;
  margin-bottom: 0.5em;
  margin-top: 0.375em;
  font-style: normal;
  text-transform: uppercase;
  text-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
}
main section.content h3 {
  color: #FFF;
  font-size: 1em;
  line-height: 1em;
  font-style: normal;
  text-transform: uppercase;
  text-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
}
main section.content p {
  color: #FFF;
  font-size: 1em;
  line-height: 1.5em;
  font-style: normal;
  margin-bottom: 1em;
  width: 50ch;
}
main section.content button {
  color: #FFF;
  background: transparent;
  font-size: 0.85em;
  line-height: 1.5em;
  font-style: normal;
  text-decoration: none;
  text-transform: uppercase;
  border: 2px solid #FFF;
  width: fit-content;
  padding: 1.25em 3em;
  margin-top: 1em;
  position: relative;
  overflow: hidden;
  z-index: 100;
}
main section.content button::before {
  background: #fff;
  content: "";
  position: absolute;
  z-index: -1;
}
main section.content button::after {
  background: #fff;
  content: "";
  position: absolute;
  z-index: -1;
}
main section.content button:hover {
  color: #000;
  cursor: pointer;
}
main section.content .animated_button::after {
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
  transform-origin: top center;
  transform: scale3d(1, 0, 1);
  transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
}
main section.content .animated_button:hover::after {
  height: 100%;
  width: 100%;
  transform: scale3d(1, 1, 1);
  transform-origin: bottom center;
}

/* FALCON 9 */
main section.falcon9_hero {
  background: url(../images/desktop-backgrounds/f9_feature.jpg) no-repeat center center/cover;
  height: 100vh;
  width: 100vw;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
main section.falcon9_hero .content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  transform: translateY(-1.875em);
}
main section.falcon9_hero .content h1 {
  color: #FFF;
  font-size: 3em;
  line-height: 1em;
  margin-bottom: 0.25em;
  font-style: normal;
  text-transform: uppercase;
}
main section.falcon9_hero .content h3 {
  color: #FFF;
  font-size: 0.875em;
  line-height: 1.375em;
  padding: 0 6em;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
}

/* FADE IN ELEMENTS */
.content h1.fade-element {
  transition-delay: 0.75s;
  transition: 0.75s cubic-bezier(0.215, 0.61, 0.355, 1);
  opacity: 0;
  transform: translateY(50px);
}
.content h1.inView {
  opacity: 1;
  transform: translateY(0px);
}
.content h3.fade-element {
  transition-delay: 0.5s;
  transition: 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  opacity: 0;
  transform: translateY(75px);
}
.content h3.inView {
  opacity: 1;
  transform: translateY(0px);
}
.content p.fade-element {
  transition-delay: 1s;
  transition: 1s cubic-bezier(0.215, 0.61, 0.355, 1);
  opacity: 0;
  transform: translateY(100px);
}
.content p.inView {
  opacity: 1;
  transform: translateY(0px);
}
.content button.fade-element {
  transition-delay: 1.25s;
  transition: 1.25s cubic-bezier(0.215, 0.61, 0.355, 1);
  opacity: 0;
  transform: translateY(100px);
}
.content button.inView {
  opacity: 1;
  transform: translateY(0px);
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* RESPONSIVE */
@media screen and (max-width: 62.5em) {
  /* HOME RESPONSIVE */
  nav:nth-of-type(1) {
    justify-content: center;
    padding: 1em 4em;
  }
  nav:nth-of-type(1) ul {
    justify-content: center;
  }
  nav:nth-of-type(1) ul li.animated_link {
    display: none;
  }
  nav:nth-of-type(1) ul li #logo img {
    width: 150px;
    margin-right: 0;
  }
  nav:nth-of-type(1) ul li a {
    margin-right: 0;
  }

  nav:nth-of-type(2) ul {
    padding: 3em 1em 0 3em;
  }
  nav:nth-of-type(2) ul li {
    font-size: 0.8em;
  }
  nav:nth-of-type(2) ul li.mobile_link {
    display: block;
  }
  nav:nth-of-type(2) ul li.mobile_link a {
    font-size: 0.75em;
  }
  nav:nth-of-type(2).open_subNav {
    width: 55vw;
    transform: translateX(0em);
  }
  nav:nth-of-type(2).open_subNav ul {
    padding: 3em 1em 0 3em;
  }

  header button {
    right: 0;
  }
  header button::before {
    margin: 0.125em 0;
  }
  header button::after {
    margin: 0.125em 0;
  }

  main section.img_block {
    padding: 3em 1em 0 1em;
  }
  main section.img_block:nth-child(1) {
    background: url(../images/mobile-backgrounds/docking.webp) no-repeat center center/cover;
  }
  main section.img_block:nth-child(2) {
    background: url(../images/mobile-backgrounds/home_demo2.webp) no-repeat center center/cover;
  }
  main section.img_block:nth-child(3) {
    background: url(../images/mobile-backgrounds/iss_game.webp) no-repeat center center/cover;
  }
  main section.img_block:nth-child(4) {
    background: url(../images/mobile-backgrounds/SN8.webp) no-repeat center center/cover;
  }
  main section.img_block:nth-child(5) {
    background: url(../images/mobile-backgrounds/home_moon.webp) no-repeat center center/cover;
  }
}

/*# sourceMappingURL=main.css.map */
